.imageCarousel {
    position: relative;

    width: 100%;
    height: 560px;

    background: #0E0E0E;
    border: 1px solid #FFFFFF;
    border-radius: 16px;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: 500px) {
        height: 585px;
    }

    & .splide {
        width: 100%;
        height: 100%;

        &__track {
            width: 100%;
            height: 100%;
        }

        &__arrows {
            
        }

        &__arrow {
            z-index: 1;

            cursor: pointer;

            position: absolute;
            border:none;
            background: none;

            fill: #fff;

            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 800px) {
                display: none;
            }

            & svg {
                width: 24px;
                height: 24px;
            }

            &--next {
                right: 20px;
                top: 50%;
            }

            &--prev {
                left: 20px;
                top: 50%;

                transform: rotate(180deg);
            }
        }
    }

    &-action {
        z-index: 100;

        position: absolute;

        display: flex;
        cursor: pointer;

        &_left {
            left: 40px;
        }

        &_right {
            right: 40px;
        }
    }

    &ProgressBar {
        position: absolute;
        bottom: 64px;

        width: 360px;
        height: 4px;

        background: #797979;
        border-radius: 10px;

        display: flex;
        align-items: center;

        &-badge {
            cursor: pointer;

            width: 60px;
            height: 6px;

            background: #FFFFFF;
            border-radius: 20px;
        }
    }

    &Item {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;

        background-image: url("../../assets/images/carousel.svg");
        background-size: cover;
        background-position: center center;


        &-contnet {
            display: flex;
            align-items: center;
            justify-content: center;

            margin-bottom: 64px;

            @media screen and (max-width: 800px) {
                flex-direction: column;
            }
        }

        &-image {
            margin-right: 64px;

            @media screen and (max-width: 800px) {
                margin-right: 0;

                margin-bottom: 32px;
                margin-top: 24px;
            }

            & img, svg {
                @media screen and (max-width: 1100px) {
                    width: 300px;
                    height: 300px;
                }
                
                @media screen and (max-width: 850px) {
                    width: 224px;
                    height: 224px;       
                }
            }
        }

        &-info {
            max-width: 460px;

            @media screen and (max-width: 1000px) {
                max-width: 40%;
            }

            @media screen and (max-width: 800px) {
                max-width: 90%;

                text-align: center;
            }
        }
        
        &-title {
            font-family: 'PixdorTwo';

            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 52px;

            color: #fff;

            text-transform: uppercase;

            margin-bottom: 12px;

            @media screen and (max-width: 1000px) {
                font-size: 40px;
                line-height: 43px;
            }

            @media screen and (max-width: 850px) {
                font-size: 32px;
                line-height: 35px;
            }
        }


        &-description {
            font-family: 'Proto Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;

            text-transform: uppercase;

            color: #FFFFFF;

            margin-bottom: 32px;

            @media screen and (max-width: 1000px) {
                font-size: 14px;
                line-height: 20px;
            }
        }

        &-action {
            & .button {
                @media screen and (max-width: 500px) {
                    width: 100%;
                }
            }
        }
    }
}
