.extensions {
    background: #1D1D1D;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;

    &-title {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #FFFFFF;

        margin-bottom: 20px;
    }

    &-item {
        &-extension {
            display: flex;
            align-items: center;

            margin-bottom: 16px;
        }

        &-name {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;

            text-transform: uppercase;
            
            color: #fff;
        }

        &-icon {
            display: flex;
            align-items: center;

            margin-right: 12px;
        }
    }

    & a {
        text-decoration: none;
    }

    &-action {
        cursor: pointer;

        max-width: 145px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: #C9C9C9;
        border-radius: 8px; 

        padding-left: 9px;
        padding-right: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
        
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

        color: #0E0E0E;

        & svg {
            margin-left: 8px;
        }
    }

    &-list {
        margin-bottom: 20px;

        &-item {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;

            color: #FFFFFF;

            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }

    &-content {
        &-item {
            padding: 20px;

            &:first-child {
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
    }
}