.cohorts {
    padding: 40px 0px;
    margin-left: -12px;
    margin-right: -12px;

    &-title {
        font-family: 'Proto Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;

        color: #FFFFFF;

        margin-bottom: 20px;

        margin-left: 12px;

        @media screen and (max-width: 500px) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &-table {
        width: 100%;
        border-collapse: collapse;
        
        &-name {
            display: flex;
            align-items: center;

            & svg {
                margin-right: 16px;
            }
        }

        &-token {
            margin-left: 5px;
            color: rgba(255, 255, 255, 0.6);
        }

        &-active {
            font-family: 'Videotype';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            align-items: center;

            color: #FF7A00;

            margin-left: 16px;
        }

        &-tractive {
            border: 1px solid #FF7A00;
        }

        & thead {
            font-family: 'Proto Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;

            color: rgba(255, 255, 255, 0.6);

            & th {
                text-align: left;
                padding-bottom: 12px;
                padding-left: 12px;

                &:first-child {
                    padding-left: 12px;
                }

                &:last-child {
                    padding-right: 12px;
                    text-align: right;
                }
            }
        }

        & tbody {
            font-family: 'Proto Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;

            color: #FFFFFF;

            & tr {
                display: table-row;
                border-radius: 8px;
            }

            & td {
                padding: 12px;

                text-align: left;
                
                &:last-child {
                    text-align: right;
                }
            }
        }
    }
}