.errorModal {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    &-icon {
        margin-bottom: 24px;
    }

    &-title {
        font-family: 'Videotype';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */

        text-align: center;

        color: #EC5729;

        margin-bottom: 12px;
    }

    &-text {
        max-width: 400px;
        word-break: break-word;

        font-family: 'Videotype';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height */

        text-align: center;

        color: #fff;

        max-height: 500px;
    }
}