.banner {
    position: relative;

    width: 100%;
    height: 280px;

    background: #020202;
    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;


    background: url("../../../../assets/images/banner.svg");
    background-position: center center;
    background-size: cover;

    @media screen and (max-width: 700px) {
        height: 140px;
    }

    &-image {
        position: absolute;

        left: 20px;

        @media screen and (max-width: 1100px) {
            top: 60%;

            & img, svg {
                width: 200px;
                height: 200px;
            }
        }

        @media screen and (max-width: 900px) {
            top: 70%;

            & img, svg {
                width: 150px;
                height: 150px;
            }
        }

        @media screen and (max-width: 900px) {
            top: 70%;

            & img, svg {
                width: 80px;
                height: 80px;

                border-radius: 12px;
            }
        }
    }

    &-title {
        font-family: 'Videotype';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 188px;
        /* identical to box height, or 376% */

        text-align: center;
        letter-spacing: -0.05em;

        color: #ED5729;

        text-shadow: 0px 0px 15px #ED5729;

        @media screen and (max-width: 700px) {
            font-size: 30px;
        }
    }
}