.collections {
    &-title {
        font-family: 'Proto Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;

        color: #FFFFFF;

        margin-bottom: 20px;
    }

    &-table {
        width: 100%;
        
        &-name {
            display: flex;
            align-items: center;

            & svg {
                margin-right: 16px;
            }
        }

        &-price {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        &-token {
            margin-left: 5px;
            color: rgba(255, 255, 255, 0.6);
        }

        & thead {
            font-family: 'Proto Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;

            color: rgba(255, 255, 255, 0.6);

            text-align: left;

            & th {
                text-align: right;
                padding-bottom: 24px;

                &:nth-child(1) {
                    text-align: left;
                }
            }
        }

        & tbody {
            font-family: 'Proto Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;

            color: #FFFFFF;

            & tr {
                cursor: pointer;
            }

            & td {
                padding-bottom: 10px;

                text-align: right;
                
                &:nth-child(1) {
                    width: 400px;

                    @media screen and (max-width: 1000px) {
                        width: 220px;
                    }
                }
            }
        }
    }
}

.mobileCollections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        border-top: 1px solid #6B6B6D;

        padding: 16px 0px;
    }
    
    &-item {
        width: 330px;
        max-width: 100%;

        padding: 24px 16px;
        background: rgba(0, 0, 0, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 16px;

        margin-bottom: 16px;

        &-text {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;

            color: rgba(255, 255, 255, 0.6);
        }

        &-value {
            width: 60%;

            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;

            color: #FFFFFF;
        }

        &-header {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: space-between;

            margin-bottom: 16px;
        }

        &-left {
            display: flex;
            align-items: center;
        }

        &-name {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;

            color: #FFFFFF;
        }

        &-image {
            display: flex;

            margin-right: 12px;

            & svg {
                width: 46px;
                height: 46px;
            }
        }

        &-arrow {
            & svg path {
                fill: rgba(255, 255, 255, 0.6);
            }
        }
    }
}