.home {
    &-banner {
        margin-bottom: 40px;
    }

    &-collections {
        position: relative;
        margin-bottom: 40px;

        &-background {
            position: absolute;

            left: 0;
            bottom: 0;

            width: calc(100% + 80px);
            height: 420px;
            backdrop-filter: blur(10px);

            margin-left: -40px;
            margin-bottom: -40px;
        }
    }
}