.select {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #0E0E0E;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 7px;

    padding: 0px 16px;

    &-wrapper {
        z-index: 1;

        width: 100%;
        position: relative;
    }

    &-dropdown {
        position: absolute;

        background: #0E0E0E;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 7px;

        padding: 8px 4px;

        width: 100%;

        transition: all ease .5s;

        top: calc(100% - 24px);
        max-height: 0px;
        overflow: hidden;

        z-index: -1;

        &_show {
            max-height: 500px;
            top: calc(100% + 8px);
        }

        & .select-token {
            cursor: pointer;

            width: 100%;
            padding: 4px 12px;

            border: 1px solid transparent;

            &:hover {
                background: #1D1D1D;
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 2px;
            }
        }
    }

    &-action {
        cursor: pointer;
        
        display: flex;
    }

    &-token {
        cursor: pointer;

        display: flex;
        align-items: center;

        &-icon {
            display: flex;

            margin-right: 12px;

            & svg {
                width: 32px;
                height: 32px;
            }

            & img {
                width: 32px;
                height: 32px;
            }
        }

        &-name {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;

            color: #FFFFFF;

            text-transform: uppercase;
        }
    }
}