.header {
    padding: 32px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &-logo {
        display: flex;
        align-items: center;
        
        width: 240px;
    }

    &-wallet {
        width: 240px;

        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &-navigation {
        display: flex;
        align-items: center;

        &-item {
            font-family: 'Proto Mono';
            
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;

            color: #FFFFFF;

            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }

}
